<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DDokDDok"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".myeong_eon_friend"/>
        <activity android:name=".myeong_eon_categori"/>
        <activity android:name=".myeong_eon_love"/>
        <activity android:name=".myeong_eon_book"/>
        <activity android:name=".myeong_eon_bye"/>
        <activity android:name=".myeong_eon_challenge"/>
        <activity android:name=".myeong_eon_confidence"/>
        <activity android:name=".myeong_eon_effort"/>
        <activity android:name=".myeong_eon_hope"/>
        <activity android:name=".myeong_eon_life"/>
        <activity android:name=".myeong_eon_study"/>
        <activity android:name=".myeong_eon_success"/>
        <activity android:name=".myeong_eon_time"/>
        <activity android:name=".quiz_categori"/>
        <activity android:name=".sang_sik"/>
        <activity android:name=".sang_sik_categori"/>
    </application>

</manifest>